@charset "UTF-8";
/* CSS Document */

a:link, a:visited {color:blueviolet}
a:focus, a:hover {color:#255238}

body{
	background-color:aliceblue;
	background-image: url(Artwork/ghost.gif);
}

header{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: aliceblue;
}

footer{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: aliceblue;
}

h1{
	text-align:center;
	font-size:500%;
}

form{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color: aliceblue;
}

input{
	font-family:Futura PT;
}